$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
@import "bootstrap-sass/lib/bootstrap";

$primary-color: #DB8628;

$primary-font-size: 16px;
 /* Put your CSS here */
html, body {
    margin: 30px 0;
}

body {
    background: $primary-color; 
    padding: 0 5px;
}

.nav-item {
    margin-bottom: 10px;    
}

.input-item {
    margin-bottom: 10px;
}

.input-wrapper-error input {
    background: red;
}

.panel-body, .btn, .navbar-brand {
    font-size: 22px !important;
}

.product-link {
    color: black;
    text-decoration: none;
}

.panel-header-own {
    background: #BBBBBB;
    border-color: #BBBBBB;
}

.statistic-item {
    margin-left: 0;
    margin-right: 0;
}