<form name="editForm" novalidate>

	<div class="panel panel-default">
		<div class="panel-body">
			<div class="input-wrapper" ng-class="{ 'has-error' : editForm.name.$invalid && !editForm.name.$pristine }">
				<input type="text" name="name" class="form-control product-name input-item" ng-model="product.name"  required/>
			</div>

			<div class="input-wrapper" ng-class="{ 'has-error' : editForm.price.$invalid && !editForm.price.$pristine }">
				<input type="text" ng-pattern="/^[+]?([.]\d+|\d+([.]\d+)?)$/" name="price" class="form-control product-name input-item" ng-model="product.price" required/>
			</div>

			<div class="input-wrapper" ng-class="{ 'has-error' : editForm.amount.$invalid && !editForm.amount.$pristine }">
				<input type="text" ng-pattern="/^[+]?([.]\d+|\d+([.]\d+)?)$/" name="amount" class="form-control product-name input-item" ng-model="product.amount" required/>
			</div>
		</div>
	</div> 

	<div class="panel panel-default">
		<div class="panel-body">
			<input type="text" class="form-control product-name input-item" ng-model="product.createdAt" disabled="disabled"/>
		</div>
	</div>

	<ul>
		<li ng-show="editForm.name.$invalid && !editForm.name.$pristine">
			Name is required
		</li>
		<li ng-show="( editForm.price.$error.pattern || editForm.price.$error.required ) && !editForm.price.$pristine">
			Price must be a positive number			
		</li>
		<li ng-show="( editForm.amount.$error.pattern || editForm.amount.$error.required ) && !editForm.amount.$pristine">
			Amount must be a positive number
		</li>
	</ul>

	<div class="panel panel-default">
		<div class="panel-body">
			<input type="submit" class="btn btn-default btn-block save input-item" value="Save" ng-disabled="editForm.$invalid" ng-click="saveProduct(editForm.$valid)">
			<button  class="btn btn-danger btn-block" ng-click="deleteProduct()">Delete</button>
			<button  class="btn btn-block" ng-click="newProductFromThisItem()">New product from this item</button>
		</div>
	</div>  
</form>

