
<form name="createForm" ng-submit="addProduct(createForm.$valid)" novalidate>

	<div class="panel panel-default">
		<div class="panel-body">
			<div class="input-wrapper">
				<input type="text" name="name" class="form-control product-name input-item" ng-model="product.name" required/>
			</div>

			<div class="input-wrapper">
			<input type="text" name="price" class="form-control product-name input-item" ng-model="product.price" required/>
			</div>

			<div class="input-wrapper" >
			<input type="text" name="amount" class="form-control product-name input-item" ng-model="product.amount" required/>
			</div>
		</div>
	</div> 
	
	<ul>
		<li ng-show="createForm.name.$invalid && !createForm.name.$pristine">Kötelező</li>
	</ul>

	<div class="panel panel-default">
		<div class="panel-body">
			<input type="submit" class="btn btn-default btn-block save input-item" value="Save" ng-disabled="createForm.$invalid">
			<button  class="btn btn-default btn-block input-item">Cancel</button>
		</div>
	</div>  
</form>